# Web Framework
flask==2.0.1

# HTTP Requests
requests==2.28.2

# Development and CI/CD Tools
black==23.3.0
flake8==7.0.0
pytest==8.2.0
pre-commit==3.3.1

# Kubernetes and Cloud Interaction
kubernetes==26.1.0
docker==6.0.1

# YAML Processing
pyyaml==6.0

# Linting and Formatting
autopep8==2.2.0
isort==5.13.2

# Validation and Security
bandit==1.7.5
